.mainTitle {
    color: rgb(58, 58, 58);
    font-weight: bold;
    white-space: pre-line;
    font-size: 26px;
    letter-spacing: -0.3px;
    line-height: 1.32;
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin: 100px 0px 0px 60px;
}

.bannerContianer {
    width: 708px;
    display: flex;
    margin-top: 10px;
    margin-right: 5px;
    overflow-x: hidden;
}

.bannerContianer {
    width: 708px;
    display: flex;
}




